body {
  margin: 0px;
  padding: 0px;
  font-family: "Playfair Display", serif;
}

#header {
  background-color: #D0B3CC;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar {
  background-color: #E0E0E0;
  padding: 10px;
}

#subtitulo {
  padding: 20px;
  font-style: oblique;
  font-size: 20px;
}

.Menuprincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: 2px solid black;
  text-decoration: none;
  float: center;
}

.ImagenTitulo {
  background-image: url(Perchero.jpg);
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 500px;
  display: inline-block;
  margin-top: 30px;
}

.ContenedorImagenTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Titulo {
  color: white;
  text-align: center;
  margin-top: 30px;
}

ul {
  list-style-type: none;
}

.espacio-menu {
  padding-left: 30px;
  padding-right: 30px;
}

.Formato-Imagen {
  padding: 5px;
  display: inline;
  width: 300px;
  height: 3000px;
}

.NuevoFormato {
  border: solid 1px black;
}

table,
th,
td {
  border: 1px solid black;
  padding: 20px;
}

th {
  background-color: #4A1942;
  color: white;
}

.tableClass {
  width: 900px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 20px;
  margin-left: 15%;
  padding: 20px;
}

.grid-content {
  /*para darle formato al grid general*/
  display: -ms-grid;
  display: grid;
  /*width: 800px;/*si no le pongo width la grilla me toma el ancho total de la pagina*/
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (3fr)[2];
      grid-template-rows: repeat(2, 3fr);
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.grid-content div {
  /*para darle forma a cada cuadrado del grid*/
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ImagenesClass {
  padding: 10px;
  margin: 20px;
  width: 100%;
}

.ImagenesClass :hover {
  height: 250px;
  width: 250px;
}

/*extra small deviced cells up to 600px)*/
@media only screen and (max-width: 600px) {
  .grid-content {
    display: -ms-grid;
    display: grid;
    /*width: 800px;/*si no le pongo width la grilla me toma el ancho total de la pagina*/
    -ms-grid-columns: (80%)[1];
        grid-template-columns: repeat(1, 80%);
    -ms-grid-rows: (3fr)[2];
        grid-template-rows: repeat(2, 3fr);
    border: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*small devices tablets large phones min 600px)*/
@media only screen and (min-width: 600px) {
  .formClass {
    width: 20%;
    margin: 20px;
    padding: 15px;
  }
  .labelClass {
    margin-bottom: 20px;
    padding: 10px;
  }
}

.ProductosPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.Padding {
  padding: 20px;
}

.footerStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: grey;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
}
/*# sourceMappingURL=SCSSProyectoPlacard.css.map */